name: CD
on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  cd:
    name: CD
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org/'
          always-auth: true
          cache: 'pnpm'
      - shell: bash
        run: pnpm i
      - name: Build
        run: pnpm -r build
      - name: Publish
        run: npm publish
